/***************************
  Defaults
***************************/

html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span {
  font-weight: inherit;
}

section {
  margin-bottom: 15px;
}

img {
  max-width: 100%;
}

/***************************
  Classes
***************************/

.hide {
  display: none !important;
}

.container {
  width: 70%;
  margin: auto;
}

.fx {
  display: flex;
}

.action-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.btn {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
  border-width: 1px;
  border-style: solid;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 51.77708763999664px;
  box-shadow: none;
  background: #ffffff;
  border-color: transparent;
  color: #484848;
}



